<header [class.logged-in]="isLoggedIn">
  <div class="left">
    <div class="logo" routerLink="/">
      <img src="/assets/images/logo-white.svg" alt="logo">
    </div>
    <ul>
      <li *ngFor="let item of menuItems; let i = index"
          (mouseover)="item.active = true"
          (mouseleave)="item.active = false"
      >
        <a class="menu-trigger" [routerLink]="[item.link]">
          {{item.label | translate}}
        </a>
        <!--<span [matMenuTriggerFor]="walletMenu" class="menu-trigger">{{'header.wallet' | translate}}</span>-->
        <!--<mat-menu #walletMenu xPosition="before" yPosition="above" [class]="'header-menu-dropdown'">-->
        <!--<span mat-menu-item class="menu-item">-->
        <!--{{'header.spot_wallet' | translate }}-->
        <!--</span>-->
        <!--</mat-menu>-->
        <div *ngIf="i === 1" class="menu" [class.closed]="!item.active">
          <div class="menu-container">
            <div class="menu-item" routerLink="/wallet/balance">
              <mat-icon class="icon" svgIcon="icon_wallet"></mat-icon>
              <span>{{'header.spot_wallet' | translate }}</span>
            </div>
            <div class="menu-item">
              <mat-icon class="icon" svgIcon="icon_meter"></mat-icon>
              <span>{{'header.margin_wallet' | translate }}</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="right">
    <button class="exchange-btn">Exchange</button>

    <button class="notifications-btn" mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="notificationsPopup">
      <mat-icon svgIcon="icon_notification"></mat-icon>
    </button>

    <mat-menu #notificationsPopup="matMenu" xPosition="before" class="notifications-popup">
      <div class="popup-header fx-row fx-h-align-space-between" (click)="$event.stopPropagation()">
        <div class="header">{{'notifications.title' | translate}}</div>
        <a class="link" (click)="openNotificationsPage(menuTrigger)">{{'notifications.view_all' | translate}}</a>
      </div>
      <div class="notifications" (click)="$event.stopPropagation()">
        <div class="notification fx-row" *ngFor="let item of notifications$ | async">
          <app-notification-item [notification]="item" [short]="true"></app-notification-item>
        </div>
      </div>
    </mat-menu>

    <button>
      <mat-icon svgIcon="icon_user"></mat-icon>
    </button>
    <ul *ngIf="isLoggedIn">
      <li>
        <button (click)="logout()">{{'header.logout' | translate}}</button>
      </li>
    </ul>
  </div>
  <div class="right mobile">
    <mat-icon svgIcon="icon_notification"></mat-icon>
    <mat-icon svgIcon="icon_menu" (click)="openMenuMobile(menuMobile)"></mat-icon>
  </div>
</header>
