@import "../../../../assets/styles/variables";

:host {
  &.transparent {
    header {
      background: transparent;
      position: relative;
      z-index: 2;
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-grey-5;
  padding: 0 52px 0 40px;
  height: 72px;
  background: linear-gradient(0deg, #111629, #111629), linear-gradient(0deg, #060B1F, #060B1F), #FFFFFF;

  .left, .right {
    display: flex;
    align-items: center;
  }
  .right.mobile {
    display: none;
  }
  ul {
    display: flex;
    list-style-type: none;
    li {
      margin-right: 32px;
      position: relative;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .logo {
    margin-right: 36px;
    width: 92px;
    height: 33px;
    img {
      max-width: 100%;
    }
  }
  a {
    &:hover {
      outline: none;
      text-decoration: none;
    }
    color: $color-grey-5;
    font-size: 14px;
    line-height: 20px;
  }
  .menu-trigger {
    cursor: pointer;
  }

  .menu {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: transparent;
    padding-top: 15px;

    .menu-container {
      position: relative;
      background: #FFFFFF;
      border: 0.5px solid #ECECEC;
      box-sizing: border-box;
      box-shadow: 0 6px 10px rgba(40, 53, 68, 0.12);
      border-radius: 4px;
      min-width: 133px;
      padding: 13px;
      width: max-content;

      &::after {
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 10px solid #FFFFFF;
      }

      .menu-item {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 143%;
        color: $color-trading-dark;

        &:hover {
          cursor: pointer;
          color: $color-grey-60;

          ::ng-deep .icon svg path {
            fill: $color-grey-60;
          }
        }

        &:not(:last-child) {
          padding-bottom: 8px;
        }

        .icon {
          width: 16px;
          height: 16px;
        }

        span {
          padding-left: 9px;
        }
      }
    }
  }
}

mat-icon {
  svg path {
    fill: $color-grey-5;
  }
  margin-right: 30px;
  &:last-of-type {
    margin-right: 0;
  }
}

::ng-deep .header-menu-dropdown.mat-menu-panel {
  overflow: visible;
  position: relative;
  left: 31%;
  top: 19px;
  .mat-menu-content {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    &::before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent white transparent;
      position: absolute;
      left: 42%;
      top: -10px
    }
    .menu-item.mat-menu-item {
      padding: 0 13px;
    }
    .menu-item mat-icon {
      margin-right: 9px;
    }
  }
}

@media all and (max-width: $media-small-tablet) {
  header {
    padding: 0 16px;
    height: auto;
    min-height: 86px;

    mat-icon {
      margin-right: 15px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .right {
      display: none;
    }
    .right.mobile {
      display: block;
    }
    .left ul {
      display: none;
    }
  }
}
