@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

:host {
  /*display: flex;
  height: 100%;*/
  width: 100%;
}

.spot-wallet {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-left: 40px;

  &__header {
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }

  &__services-list {
    margin-top: 8px;
  }

  &__services-item {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    color: $color-grey-60;
    cursor: pointer;
  }

  .active {
    color: $color-brand-dark;
  }
}

.total-balance {
  margin: 36px 62px;

  &__header {
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
    color: $color-brand-dark;
  }

  &__amount {
    display: flex;
    align-items: baseline;
    font-size: 20px;
    line-height: 32px;
    color: $color-brand-dark;

    &-container {
      width: 220px;
    }

    &-currency {
      margin-left: 3px;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      color: $color-grey-60;

      &--black {
        color: $color-brand-dark;
      }
    }

    &-hide-btn {

      &-icon {
        margin-bottom: 5px;
        width: 16px;
        height: 16px;

        //&.show ::ng-deep svg path {
        //  fill: $color-brand-dark;
        //}
      }
    }
  }
}

.balances, .addresses {
  margin: 0 22px 107px 62px;

  .balance, .address {
    margin-bottom: 40px;
  }

  .balance-info, .address-info {
    color: $color-brand-dark;

    &__name {
      margin-bottom: 12px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }

    &__table {
      box-shadow: none;
      border-radius: 4px;
      filter: drop-shadow(0px 1px 4px rgba(143, 149, 158, 0.25));

      &.with-controls {

        .mat-table__search {

          &.controls {
            display: flex;
            justify-content: space-between;

            .left {
              display: flex;
              align-items: center;
            }
          }

          border-radius: 4px 4px 0 0;
          border: 0.5px solid $color-grey-20;
          border-bottom-color: $color-grey-10;
        }

        .mat-table {
          border: none;
          border-left: 0.5px solid $color-grey-20;
          border-right: 0.5px solid $color-grey-20;
        }

        .no-data-splash {
          border-radius: 0;
        }
      }
    }

    .mat-table {
      border: 0.5px solid $color-grey-20;
    }
  }
}

.single-table {
  border-radius: 4px;
}

.no-data-splash {
  background-color: $color-white-100;
  padding: 16px 12px;
  color: $color-grey-60;
  font-style: italic;
  border: 1px solid $color-grey-20;
  border-top: none;
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-right: 0;
}

app-paginator {
  border-radius: 0 0 4px 4px;
  border: 0.5px solid $color-grey-20;
  border-top-color: $color-grey-10;
}

.mat-table__search {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 16px;
  height: 52px;
  background: $color-white-100;

  &-icon {
    position: absolute;
    left: 20px;
  }

  &-input {
    margin-left: 12px;
    padding-left: 35px;
    width: 200px;
    height: 32px;
    font-size: 14px;
    line-height: 20px;
    background: $color-grey-5;
    border: 1px solid $color-grey-10;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .hide-balance-btn,
  .control-btn {
    margin-left: 12px;
    padding: 6px 8px;
    background-color: $color-white-100;
    border: 1px solid $color-grey-10;
    border-radius: 4px;
    cursor: pointer;

    &-active {
      color: $color-brand;
      background: rgba($color-brand, 0.05);
      border: 1px solid $color-brand;
    }
  }

  .control-btn {
    margin-left: 0;
    margin-right: 12px;

    &.delete {
      width: 66px;
      border: 1px solid $color-trading-red-100;
      color: $color-trading-red-100;
    }

    &[disabled] {
      color: $color-grey-30;
      background-color: $color-grey-10;
      border: none;
    }
  }
}

mat-header-row {
  border-radius: 4px 4px 0 0;
  border-color: $color-grey-10;
}

mat-header-cell:first-child,
mat-cell:first-child {
  padding-left: 12px;
}

mat-row {
  border-color: $color-grey-10;
}

mat-row:last-child {
  border: none;
  border-radius: 0 0 4px 4px;
}

.mat-header__icon {
  margin-top: -10px;
  margin-left: 8px;
  width: 8px;
  height: 9.5px;
}

.mat-column-cryptocurrency {
  flex: 4;
  text-transform: uppercase;

  mat-icon {
    margin-right: 19px;
  }
}

.mat-column-total,
.mat-column-available,
.mat-column-inOrder,
.mat-column-btcValue {
  flex: 3;
  justify-content: flex-end;
  padding-right: 12px;
}

.mat-column-action {
  flex: 5;
  justify-content: flex-end;

  a {
    cursor: pointer;
    margin-left: 24px;
    font-size: 14px;
    line-height: 20px;
    color: $color-brand;
  }
}

.mat-column-checkboxes {
  max-width: 45px;

  ::ng-deep mat-checkbox {
    .mat-checkbox-frame {
      border-color: $color-grey-30;
    }
  }
}

.mat-header-cell {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: $color-grey-60;

  &:first-child {
    text-transform: capitalize;
  }
}

::ng-deep .trade-select {
  box-shadow: none;
  overflow-y: auto;
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 1px 4px rgba(143, 149, 158, 0.25));
  background: $color-white-100;
  border-radius: 4px;
  max-height: 200px;
  min-width: 134px;
  padding: 0 16px;

  .empty {
    font-size: 12px;
    font-style: italic;
  }

  .link {

    .label {
      padding: 10px 8px;
      font-size: 12px;
      line-height: 133%;
      color: $color-brand-dark;
      max-width: 84px;
      cursor: pointer;
      text-transform: uppercase;

      @include text-overflow();
    }

    .divider {
      width: 100%;
      height: 1px;
      background-color: $color-grey-10;
    }
  }
}

@media screen and(max-width: 1200px) {
  .mat-column-cryptocurrency,
  .mat-column-total,
  .mat-column-available,
  .mat-column-inOrder,
  .mat-column-btcValue {
    min-width: 140px;
  }

  .mat-column-action {
    min-width: 240px;
  }

  .hide-balance-btn {
    white-space: nowrap;
  }
}

@media screen and(max-width: 1125px) {
  :host {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }

  .spot-wallet {
    flex-direction: row;
    height: 52px;
    padding: 0;
    background-color: #1D2235;

    &__header {
      display: none;
    }

    &__services-list {
      display: flex;
      align-items: center;
    }

    &__services-item {
      margin-right: 24px;
      color: rgba(255, 255, 255, 0.6);

      &:first-child {
        margin-left: 16px;
      }
    }

    .active {
      color: $color-white-100;
    }
  }

  .balances, .addresses {
    margin: 0;
  }

  .balance, .address {
    .balance-info, .address-info {
      overflow-x: auto;

      &__name {
        margin-left: 16px;
      }

      .mat-table {
        margin-right: 16px;
      }

      .no-data-splash {
        margin-right: 16px;
      }

      &__table {
        width: max-content;
        margin: 12px 0 12px 62px;
      }
    }
  }

  .mat-table__search {
    margin: 0 16px 0 0;
  }

  app-paginator {
    margin-right: 16px;
  }
}

@media all and (max-width: $media-mobile) {
  .total-balance {
    margin-left: 16px;
  }

  .balances, .addresses {
    .balance, .address {
      margin-bottom: 32px;
    }
  }

  mat-header-row {
    height: 52px;
  }
}
