<form [formGroup]="form">
  <app-currency-select formControlName="fromCurrency"></app-currency-select>
  <app-currency-select formControlName="toCurrency"></app-currency-select>
  <input type="number" formControlName="fromAmount">
  <input type="number" formControlName="toAmount">
</form>
<div class="chart-container">
  <ngx-charts-area-chart
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    [scheme]="colorScheme"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisLabel]="false"
    [yAxisLabel]="true"
    [timeline]="true"
    [results]="chartData"
    [gradient]="true"
    [autoScale]="true"
    [showGridLines]="true"
    [tooltipDisabled]="true">
  </ngx-charts-area-chart>
</div>
