<div class="trading-container" [class.dark-theme]="isDarkTheme">

  <div class="news-ticker"></div>

  <div class="trade-header fx-row fx-h-align-space-between fx-v-align-center">
    <div class="fx-row">
      <div (click)="toggleTradeSelector(refTradePopover)"
           [appPopover]="refTradePopover"
           class="trade-type fx-row fx-h-align-space-between fx-v-align-center">
        <div class="pair">
          <div class="label fx-row fx-v-align-center">
            {{'TRX/BTC'}}
            <div class="multiple fx-row fx-v-align-center fx-h-align-center">
              {{'10x'}}
            </div>
          </div>
          <div class="subtype">{{'TRON'}}</div>
        </div>
        <mat-icon [svgIcon]="'icon_arrow_down'"
                  [class.opened]="isTradeTypeSelectorOpened"
                  class="selector-icon"
        ></mat-icon>
      </div>

      <app-popover-template
        #refTradePopover
        [placement]="'bottom-left'"
        [hasBackdrop]="true"
        [forceAlignment]="true"
        [panelClass]="'trade-popover-panel'"
        scrollStrategy="close"
        (backdropClicked)="isTradeTypeSelectorOpened = false; refTradePopover.close();"
      >
        <div class="trade-popup" [class.dark-theme]="isDarkTheme">
          <div class="tabs">
            <nav mat-tab-nav-bar class="mat-tab-group">
              <a mat-tab-link
                 [active]="activeLink === 'all'"
                 (click)="activeLink = 'all'"
                 [routerLink]="['.']"
                 [queryParams]="{tab: 'all', offset: 0, limit: limit}">
                {{ 'trade_page.all' | translate }}
              </a>
              <a mat-tab-link
                 [active]="activeLink === 'cross'"
                 (click)="activeLink = 'cross'"
                 [routerLink]="['.']"
                 [queryParams]="{tab: 'cross', offset: 0, limit: limit}">
                {{ 'trade_page.cross' | translate }}
              </a>
              <a mat-tab-link
                 [active]="activeLink === 'isolated'"
                 (click)="activeLink = 'isolated'"
                 [routerLink]="['.']"
                 [queryParams]="{tab: 'isolated', offset: 0, limit: limit}">
                {{ 'trade_page.isolated' | translate }}
              </a>
            </nav>
          </div>
          <div class="search fx-row fx-v-align-center">
            <mat-icon [svgIcon]="'icon_search'" class="search-icon"></mat-icon>
            <input type="text" class="search-input" [formControl]="searchInputControl">
          </div>
          <div class="pairs-table">
            <mat-table mat-table [dataSource]="pairsDataSource$ | async">
              <!-- Pair column -->
              <ng-container matColumnDef="pair">
                <mat-header-cell *matHeaderCellDef>
                  {{ 'trade_page.pair' | translate }}
                  <mat-icon [svgIcon]="'icon_union'" class="sort"></mat-icon>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.pair.split('/')[0]}}/<span>{{element.pair.split('/')[1]}}</span> </mat-cell>
              </ng-container>

              <!-- Last Price column -->
              <ng-container matColumnDef="last_price">
                <mat-header-cell *matHeaderCellDef>
                  {{ 'trade_page.last_price' | translate }}
                  <mat-icon [svgIcon]="'icon_union'" class="sort"></mat-icon>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.lastPrice.price }} / <span>${{element.lastPrice.exchanged}}</span></mat-cell>
              </ng-container>

              <!-- Change column -->
              <ng-container matColumnDef="change">
                <mat-header-cell *matHeaderCellDef>
                  {{ 'trade_page.change' | translate }}
                  <mat-icon [svgIcon]="'icon_union'" class="sort"></mat-icon>
                </mat-header-cell>
                <mat-cell
                  [class.negative]="element.change < 0"
                  *matCellDef="let element">
                  <span *ngIf="element.change >= 0">+</span>
                  {{element.change | number: '1.2-2'}}%
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="pairsDisplayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: pairsDisplayedColumns;"></mat-row>
            </mat-table>
          </div>
        </div>
      </app-popover-template>

      <div class="pair-values fx-row fx-v-align-end">
        <div class="amount">
          <div class="current-coin">{{'0.00000179'}}</div>
          <div class="exchanged">${{'0.024176'}}</div>
        </div>
        <div class="cell change">
          <div class="label">{{'trade_page.24h_change' | translate}}</div>
          <div class="value" [class.negative]="true">{{'-0.00000006'}} {{'-3.26'}}%</div>
        </div>
        <div class="cell high">
          <div class="label">{{'trade_page.24h_high' | translate}}</div>
          <div class="value" [class.negative]="false">{{'0.00000185'}}</div>
        </div>
        <div class="cell low">
          <div class="label">{{'trade_page.24h_low' | translate}}</div>
          <div class="value" [class.negative]="false">{{'0.00000172'}}</div>
        </div>
        <div class="cell volume-first">
          <div class="label">{{'trade_page.24h_volume' | translate}} ({{'TRX'}})</div>
          <div class="value" [class.negative]="false">{{'144,634,820.00'}}</div>
        </div>
        <div class="cell volume-second">
          <div class="label">{{'trade_page.24h_volume' | translate}} ({{'BTC'}})</div>
          <div class="value" [class.negative]="false">{{'256.38'}}</div>
        </div>
      </div>
    </div>
    <div class="spot-tutorial fx-row fx-v-align-center" (click)="playSpotTutorial()">
      <mat-icon [svgIcon]="'icon_play'"></mat-icon>
      <span>{{'trade_page.spot_tutorial' | translate}}</span>
    </div>
  </div>

  <div class="trade-windows" cdkDropListGroup>

    <div class="fx-row">
      <div class="window-container left"
           appResizable
           cdkDropList
           [cdkDropListData]="leftContainer"
           (cdkDropListDropped)="drop($event)"
      >
        <div class="drag-item" cdkDrag>
          <app-resizable-window [headerText]="'trade_page.orderbook' | translate">
            <div class="orderbook-table-container"></div>
            ORDERBOOK WORKS
          </app-resizable-window>
        </div>
      </div>

      <div class="window-container center"
           appResizable
           cdkDropList
           [cdkDropListData]="centralContainer"
           (cdkDropListDropped)="drop($event)"
      >
        <div class="drag-item" cdkDrag>
          <app-resizable-window cdkDrag [headerText]="'trade_page.chart' | translate">
            <div class="chart-container"></div>
            CHART WORKS
          </app-resizable-window>
        </div>
        <div class="drag-item" cdkDrag>
          <app-resizable-window cdkDrag [headerText]="'trade_page.exchange' | translate">
            <div class="exhange-table-container"></div>
            EXCHANGE WORKS
          </app-resizable-window>
        </div>
      </div>

      <div class="window-container right"
           appResizable
           [resizableGrabXWidth]="0"
           cdkDropList
           [cdkDropListData]="rightContainer"
           (cdkDropListDropped)="drop($event)"
      >
        <div class="drag-item" cdkDrag>
          <app-resizable-window cdkDrag [headerText]="'trade_page.market_trades' | translate">
            <div class="market-trades-container"></div>
            MARKET TRADES WORKS
          </app-resizable-window>
        </div>
      </div>
    </div>

    <div class="window-container bottom" appResizable [resizableGrabXWidth]="0">
      <div class="drag-item">
        <app-resizable-window
          [draggableWindow]="false"
          [resizableWindow]="false"
          [headerText]="'trade_page.orders_and_history' | translate"
        >
          <div class="orders-and-history-container"></div>
          ORDERS & HISTORY WORKS
        </app-resizable-window>
      </div>
    </div>

  </div>

</div>
