<div class="overlay" [class.overlay-visible]="opened" (click)="opened = false"></div>
<ng-container *ngIf="(addresses$ | async) as addresses">
  <div class="switcher" (click)="opened = !opened" [class.opened]="opened">
    <div class="flex">
      <mat-icon *ngIf="selected" class="address-icon" [svgIcon]="'icon_' + selected?.cryptocurrency">
      </mat-icon>
      <span class="wallet-label"> {{selected?.wallet_label}} </span>
      <span class="address-label"> {{selected?.address}} </span>
    </div>
    <mat-icon class="icon-trigger" svgIcon="icon_arrow_down"></mat-icon>
  </div>
  <div class="addresses-menu" [class.visible]="opened">
    <span *ngFor="let address of addresses" (click)="writeValue(address); opened = false" class="menu-item">
        <mat-icon class="address-icon" [svgIcon]="'icon_' + address.cryptocurrency"></mat-icon>
        <span class="wallet-label">{{address.wallet_label}}</span>
        <span class="address-label">{{address.address}}</span>
    </span>
  </div>
</ng-container>
