<form [formGroup]="amountForm">
  <div class="switcher" (click)="!disabledCondition ? opened = !opened : false; onCloseDropdown()"
       [class.opened]="opened"
       [class.disabled]="disabledCondition">
    <div class="fx-row">
      <mat-icon *ngIf="(selected$ | async)" class="coin-icon"
                [svgIcon]="'icon_' + ((selected$ | async)?.key | lowercase)">
      </mat-icon>
      <div class="coin-abbr">
        <span class="coin-key" *ngIf="selected$">{{(selected$ | async)?.key}}</span>
      </div>
      <div class="input-container">
        <span class="coin-title" *ngIf="selected$">{{(selected$ | async)?.fields.name}}</span>
        <input appOnlyNumbers class="amount-input" formControlName="amount"
               [attr.disabled]="disabledCondition ? true : null"
               type="text" placeholder="0.00000000" #input
               (keyup)='keyUp.next([$event, "desktop"])' (click)="$event.stopPropagation()">
      </div>
    </div>
    <mat-icon class="icon-trigger" [svgIcon]="'icon_chevron_down'"></mat-icon>
  </div>

  <div class="input-mobile">
    <input appOnlyNumbers class="amount-input" formControlName="amount"
           [attr.disabled]="disabledCondition ? true : null"
           type="text" placeholder="0.00000000" #mobileInput
           (keyup)='keyUp.next([$event, "mobile"])' (click)="$event.stopPropagation()">
  </div>
</form>

<div class="coins-menu" [class.visible]="opened">
  <div class="currency-search-container">
    <mat-icon svgIcon="icon_search"></mat-icon>
    <input class="currency-search" type="text" (keyup)="search($event.target.value)" [(ngModel)]="searchValue">
  </div>
  <div class="items-container">
    <span *ngFor="let coin of currenciesFiltered$ | async | currencySelected:secondSelected" (click)="setCurrency(coin); opened = false"
          class="menu-item">
        <mat-icon class="coin-icon" [svgIcon]="'icon_' + (coin.key | lowercase)"></mat-icon>
        <span class="coin-title">{{coin.key | uppercase }}</span>
        <span class="coin-subtitle">{{coin.fields.name}}</span>
    </span>
  </div>
</div>
