@import "../../../../assets/styles/variables";

.mat-table__search {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 16px;
  height: 52px;
  background: $color-white-100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  &-icon {
    position: absolute;
    left: 20px;
  }

  &-input {
    margin-left: 12px;
    padding-left: 35px;
    width: 200px;
    height: 32px;
    font-size: 14px;
    line-height: 20px;
    background: $color-grey-5;
    border: 1px solid $color-grey-10;
    box-sizing: border-box;
    border-radius: 4px;
  }
}

.mat-column-favorite {
  flex: 1;
  padding-left: 12px;
  cursor: pointer;
}

.mat-column-pair {
  flex: 4;
}

.mat-column-last {
  flex: 5;
}

.mat-column-cng,
.mat-column-high,
.mat-column-low,
.mat-column-mktCap,
.mat-column-vol {
  flex: 2;
  justify-content: flex-end;
  padding-right: 12px;
}
