<div class="trade-order-container">
  <div class="tabs-container fx-row">
    <div [class.active]="activeTab === IExchangeOrder.StopLimit" class="tab"
         (click)="switchTab(IExchangeOrder.StopLimit)">
      <div class="label">{{'exchange_order.stop_limit' | translate}}</div>
      <div [hidden]="activeTab === IExchangeOrder.Market" class="divide"></div>
    </div>
    <div [class.active]="activeTab === IExchangeOrder.Market" class="tab"
         (click)="switchTab(IExchangeOrder.Market)">
      <div class="label">{{'exchange_order.market' | translate}}</div>
      <div [hidden]="activeTab === IExchangeOrder.Limit" class="divide"></div>
    </div>
    <div [class.active]="activeTab === IExchangeOrder.Limit" class="tab"
         (click)="switchTab(IExchangeOrder.Limit)">
      <div class="label">{{'exchange_order.limit' | translate}}</div>
      <div *ngIf="triggerOrder"
           [hidden]="activeTab === IExchangeOrder.TriggerOrder"
           class="divide"></div>
    </div>
    <div *ngIf="triggerOrder"
         [class.active]="activeTab === IExchangeOrder.TriggerOrder" class="tab"
         (click)="switchTab(IExchangeOrder.TriggerOrder)">
      <div class="label">{{'exchange_order.trigger_order' | translate}}</div>
    </div>
  </div>

  <div class="exchange-container fx-row fx-h-align-space-between">
    <div [ngSwitch]="activeTab" class="buy form-block">

      <div class="header fx-row fx-h-align-space-between">
        <div class="label">{{'exchange_order.buy' | translate}} {{currentPair | splitString: '/': 0}}</div>
        <div class="value">{{totalAmountBuy | number: '1.8-8'}} {{currentPair | splitString: '/': 1}}</div>
      </div>

      <form *ngSwitchCase="IExchangeOrder.StopLimit" [formGroup]="stopLimitBuyForm">
        <div class="input-container">
          <span class="title">{{'exchange_order.stop' | translate}}</span>
          <input class="input stop" formControlName="stop" type="text">
          <span class="property">{{currentPair | splitString: '/': 1}}</span>
        </div>

        <div class="input-container">
          <span class="title">{{'exchange_order.limit' | translate}}</span>
          <input class="input limit" formControlName="limit" type="text">
          <span class="property">{{currentPair | splitString: '/': 1}}</span>
        </div>

        <div class="input-container">
          <span class="title">{{'exchange_order.amount' | translate}}</span>
          <input class="input amount" formControlName="amount" type="text">
          <span class="property">{{currentPair | splitString: '/': 0}}</span>
        </div>

        <app-linear-slider [classList]="['buy']" formControlName="ratio"></app-linear-slider>

        <div class="input-container">
          <span class="title">{{'exchange_order.total' | translate}}</span>
          <input class="input amount" formControlName="total" type="text">
          <span class="property">{{currentPair | splitString: '/': 1}}</span>
        </div>
      </form>

      <form *ngSwitchCase="IExchangeOrder.Market" [formGroup]="marketBuyForm">
        <div class="input-container">
          <span class="title">{{'exchange_order.limit' | translate}}</span>
          <input class="input stop" formControlName="limit" type="text">
          <span class="property">{{currentPair | splitString: '/': 1}}</span>
        </div>

        <div class="input-container">
          <span class="title fx-row fx-v-align-center">
            <mat-select class="amount-type-select"
                        [formControlName]="'amountType'"
                        [panelClass]="'amount'"
                        disableOptionCentering>

              <mat-option *ngFor="let item of amountTypes" [value]="item">
                {{('exchange_order.' + item) | translate }}
              </mat-option>
            </mat-select>
            <div class="divide"></div>
          </span>
          <input class="input amount-type" formControlName="amount" type="text">
          <span class="property">{{currentPair | splitString: '/': 1}}</span>
        </div>

        <app-linear-slider [classList]="['buy']" formControlName="ratio"></app-linear-slider>
      </form>

      <form *ngSwitchCase="IExchangeOrder.Limit" [formGroup]="limitBuyForm">
        <div class="input-container">
          <span class="title">{{'exchange_order.price' | translate}}</span>
          <input class="input price" formControlName="price" type="text">
          <span class="property">{{currentPair | splitString: '/': 1}}</span>
        </div>

        <div class="input-container">
          <span class="title">{{'exchange_order.amount' | translate}}</span>
          <input class="input amount" formControlName="amount" type="text">
          <span class="property">{{currentPair | splitString: '/': 1}}</span>
        </div>

        <app-linear-slider [classList]="['buy']" formControlName="ratio"></app-linear-slider>
      </form>

      <ng-container *ngIf="triggerOrder">
        <form *ngSwitchCase="IExchangeOrder.TriggerOrder" [formGroup]="triggerOrderBuyForm">
          <div class="input-container">
            <span class="title">{{'exchange_order.stop' | translate}}</span>
            <input class="input stop" formControlName="stop" type="text">
            <span class="property">{{currentPair | splitString: '/': 1}}</span>
          </div>

          <div class="input-container">
            <span class="title">{{'exchange_order.price' | translate}}</span>
            <input class="input price" formControlName="price" type="text">
            <span class="property">{{currentPair | splitString: '/': 1}}</span>
          </div>

          <div class="input-container">
            <span class="title">{{'exchange_order.amount' | translate}}</span>
            <input class="input amount" formControlName="amount" type="text">
            <span class="property">{{currentPair | splitString: '/': 0}}</span>
          </div>

          <app-linear-slider [classList]="['buy']" formControlName="ratio"></app-linear-slider>

          <div class="input-container">
            <span class="title">{{'exchange_order.total' | translate}}</span>
            <input class="input amount" formControlName="total" type="text">
            <span class="property">{{currentPair | splitString: '/': 1}}</span>
          </div>
        </form>
      </ng-container>

      <button (click)="exchange(ITradeType.Buy, activeTab)"
              [class.sign-in]="!user" mat-raised-button class="control buy">
        <span *ngIf="!user">
          <span class="highlighted">{{('exchange_order.login' | translate) + ' '}}</span>
          <span>{{'exchange_order.or' | translate}}</span>
          <span class="highlighted">{{' ' + ('exchange_order.register_now' | translate)}}</span>
        </span>
        <span *ngIf="user">{{'exchange_order.buy' | translate}} {{currentPair | splitString: '/': 0}}</span>
      </button>
    </div>

    <div [ngSwitch]="activeTab" class="sell form-block">

      <div class="header fx-row fx-h-align-space-between">
        <div class="label">{{'exchange_order.sell' | translate}} {{currentPair | splitString: '/': 0}}</div>
        <div class="value">{{totalAmountSell | number: '1.8-8'}} {{currentPair | splitString: '/': 1}}</div>
      </div>

      <form *ngSwitchCase="IExchangeOrder.StopLimit" [formGroup]="stopLimitSellForm">
        <div class="input-container">
          <span class="title">{{'exchange_order.stop' | translate}}</span>
          <input class="input stop" formControlName="stop" type="text">
          <span class="property">{{currentPair | splitString: '/': 1}}</span>
        </div>

        <div class="input-container">
          <span class="title">{{'exchange_order.limit' | translate}}</span>
          <input class="input limit" formControlName="limit" type="text">
          <span class="property">{{currentPair | splitString: '/': 1}}</span>
        </div>

        <div class="input-container">
          <span class="title">{{'exchange_order.amount' | translate}}</span>
          <input class="input amount" formControlName="amount" type="text">
          <span class="property">{{currentPair | splitString: '/': 0}}</span>
        </div>

        <app-linear-slider [classList]="['sell']" formControlName="ratio"></app-linear-slider>

        <div class="input-container">
          <span class="title">{{'exchange_order.total' | translate}}</span>
          <input class="input amount" formControlName="total" type="text">
          <span class="property">{{currentPair | splitString: '/': 1}}</span>
        </div>
      </form>

      <form *ngSwitchCase="IExchangeOrder.Market" [formGroup]="marketSellForm">
        <div class="input-container">
          <span class="title">{{'exchange_order.limit' | translate}}</span>
          <input class="input stop" formControlName="limit" type="text">
          <span class="property">{{currentPair | splitString: '/': 1}}</span>
        </div>

        <div class="input-container">
          <span class="title fx-row fx-v-align-center">
            <mat-select class="amount-type-select"
                        [formControlName]="'amountType'"
                        [panelClass]="'amount'"
                        disableOptionCentering>

              <mat-option *ngFor="let item of amountTypes" [value]="item">
                {{('exchange_order.' + item) | translate }}
              </mat-option>
            </mat-select>
            <div class="divide"></div>
          </span>
          <input class="input amount-type" formControlName="amount" type="text">
          <span class="property">{{currentPair | splitString: '/': 1}}</span>
        </div>

        <app-linear-slider [classList]="['sell']" formControlName="ratio"></app-linear-slider>
      </form>

      <form *ngSwitchCase="IExchangeOrder.Limit" [formGroup]="limitSellForm">
        <div class="input-container">
          <span class="title">{{'exchange_order.price' | translate}}</span>
          <input class="input price" formControlName="price" type="text">
          <span class="property">{{currentPair | splitString: '/': 1}}</span>
        </div>

        <div class="input-container">
          <span class="title">{{'exchange_order.amount' | translate}}</span>
          <input class="input amount" formControlName="amount" type="text">
          <span class="property">{{currentPair | splitString: '/': 1}}</span>
        </div>

        <app-linear-slider [classList]="['sell']" formControlName="ratio"></app-linear-slider>
      </form>

      <ng-container *ngIf="triggerOrder">
        <form *ngSwitchCase="IExchangeOrder.TriggerOrder" [formGroup]="triggerOrderSellForm">
          <div class="input-container">
            <span class="title">{{'exchange_order.stop' | translate}}</span>
            <input class="input stop" formControlName="stop" type="text">
            <span class="property">{{currentPair | splitString: '/': 1}}</span>
          </div>

          <div class="input-container">
            <span class="title">{{'exchange_order.price' | translate}}</span>
            <input class="input price" formControlName="price" type="text">
            <span class="property">{{currentPair | splitString: '/': 1}}</span>
          </div>

          <div class="input-container">
            <span class="title">{{'exchange_order.amount' | translate}}</span>
            <input class="input amount" formControlName="amount" type="text">
            <span class="property">{{currentPair | splitString: '/': 0}}</span>
          </div>

          <app-linear-slider [classList]="['sell']" formControlName="ratio"></app-linear-slider>

          <div class="input-container">
            <span class="title">{{'exchange_order.total' | translate}}</span>
            <input class="input amount" formControlName="total" type="text">
            <span class="property">{{currentPair | splitString: '/': 1}}</span>
          </div>
        </form>
      </ng-container>

      <button (click)="exchange(ITradeType.Sell, activeTab)"
              [class.sign-in]="!user" mat-raised-button class="control sell">
        <span *ngIf="!user">
          <span class="highlighted">{{('exchange_order.login' | translate) + ' '}}</span>
          <span>{{'exchange_order.or' | translate}}</span>
          <span class="highlighted">{{' ' + ('exchange_order.register_now' | translate)}}</span>
        </span>
        <span *ngIf="user">{{'exchange_order.sell' | translate}} {{currentPair | splitString: '/': 0}}</span>
      </button>
    </div>
  </div>

</div>
