@import "../../../../assets/styles/variables";

.trade-header {
  padding: 12px;
  background-color: $color-white-100;

  .trade-type {
    cursor: pointer;
    border-right: 1px solid $color-grey-30;

    .pair {
      .label {
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        color: $color-brand-dark;

        .multiple {
          width: 30px;
          height: 20px;
          margin-left: 4px;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          color: $color-brand;
          background: rgba(21, 21, 240, 0.1);
          border: 1px solid $color-brand;
          box-sizing: border-box;
          border-radius: 2px;
        }
      }

      .subtype {
        font-size: 12px;
        line-height: 16px;
        color: $color-grey-60;
      }
    }
    .selector-icon {
      margin: 0 20px 0 40px;
      width: 10px;
      display: flex;

      &.opened {
        transform: rotateX(180deg);
      }

      ::ng-deep svg path {
        fill: $color-grey-100;
      }
    }
  }

  .pair-values {
    padding-left: 32px;

    .amount {
      .current-coin {
        font-size: 16px;
        line-height: 24px;
        color: $color-brand-dark;
      }
      .exchanged {
        font-size: 12px;
        line-height: 16px;
        color: $color-grey-60;
      }
    }

    .cell {
      padding-left: 40px;
      font-size: 12px;
      line-height: 16px;
      color: $color-grey-60;
      font-weight: 400;

      .value {
        color: $color-brand-dark;

        &.negative {
          color: $color-trading-red;
        }
      }
    }
  }
  .spot-tutorial {
    cursor: pointer;
    height: min-content;

    mat-icon {
      width: 11px;
      height: 11px;
      display: flex;
      margin-right: 5px;
    }

    span {
      font-size: 12px;
      line-height: 16px;
      color: $color-brand-dark;
    }
  }

  &.theme-dark {
    background-color: #191B20;

    .trade-type {
      border-right: 1px solid $color-white-20;

      .pair {
        .label {
          color: $color-white-100;
          font-weight: 500;

          .multiple {
            color: #5050FB;
            border: 1px solid #5050FB;
            background: rgba(21, 21, 240, 0.1);
          }
        }
      }

      .selector-icon {
        ::ng-deep svg path {
          fill: $color-white-100;
        }
      }
    }

    .pair-values {
      .amount {
        .current-coin {
          color: $color-white-100;
        }

        .exchanged {
          color: $color-white-60;
        }
      }

      .cell {
        color: $color-white-60;
        .value:not(.negative) {
          color: $color-white-100;
        }
      }
    }

    .spot-tutorial {
      span {
        color: $color-white-100;
      }

      ::ng-deep mat-icon svg path {
        fill: $color-white-100;
      }
    }
  }
}

::ng-deep .trade-popover-panel {
  .trade-popup {
    margin-top: 5px;
    height: 238px;
    width: 332px;
    overflow-y: scroll;
    background: $color-white-100;
    border-radius: 4px;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
    overflow-x: hidden;
    padding: 8px 12px;

    .tabs {
      ::ng-deep .mat-tab-group {
        border-bottom: none;

        .mat-tab-link {
          min-width: auto;
          flex: 0.333;
          height: 24px;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: $color-brand-dark;
          background-color: #F2F4F8;

          &.mat-tab-label-active {
            color: $color-brand;
            background-color: #E7E9F8;
          }

          &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }
          &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }

        mat-ink-bar {
          display: none;
        }
      }
    }

    .search {
      padding-top: 12px;

      .search-icon {
        position: absolute;
        left: 20px;
      }
      .search-input {
        width: 100%;
        padding-left: 40px;
        height: 32px;
        font-size: 14px;
        line-height: 20px;
        background: $color-grey-5;
        border: 1px solid $color-grey-10;
        box-sizing: border-box;
        border-radius: 4px;
      }
    }

    .pairs-table {
      mat-table {
        background: transparent;
        padding-right: 3px;

        mat-header-row {
          border-bottom: none;
          min-height: auto;
          padding: 12px 0 8px;
        }
        mat-header-cell {
          font-size: 12px;
          line-height: 16px;
          color: $color-grey-60;
          font-weight: 400;
          padding: 0;

          .sort {
            cursor: pointer;
            margin-top: -4px;
            margin-left: 7px;
            width: 8px;
            height: 9.5px;
          }
        }

        .mat-column-pair {
          width: 107px;

          span {
            color: $color-grey-60;
          }
        }

        .mat-column-last_price {
          span {
            color: $color-grey-60;
            margin-left: 3px;
          }
        }

        .mat-column-change {
          width: 55px;
          display: flex;
          justify-content: flex-end;

          &:not(.mat-header-cell) {
            color: $color-trading-green;
          }

          &.negative {
            color: $color-trading-red;
          }
        }

        mat-row {
          border-bottom: none;
          padding: 0 0 12px;
          min-height: auto;
        }

        mat-cell {
          padding: 0;
          font-size: 12px;
          line-height: 16px;
          color: $color-brand-dark;
          font-weight: 400;
        }
      }
    }

    // TODO: dark theme
    &.theme-dark {
      background: #1F2127;

      .tabs {
        ::ng-deep .mat-tab-group {
          .mat-tab-link {
            color: $color-white-90;
            background-color: #30323C;

            &.mat-tab-label-active {
              color: $color-white-100;
              background-color: #595B63;
            }
          }
        }
      }

      .search {
        .search-input {
          color: $color-white-100;
          background: $color-white-5;
          border: 1px solid #30323C;
        }
      }

      .pairs-table {
        mat-table {
          mat-header-cell {
            color: $color-white-60;

            .sort {
              display: none;
            }
          }

          .mat-column-pair {
            span {
              color: $color-white-60;
            }
          }

          .mat-column-change.mat-header-cell {
            padding-right: 16px;
          }

          .mat-column-last_price {
            span {
              color: $color-white-60;
            }
          }

          mat-cell {
            color: $color-white-100;
          }
        }
      }
    }
  }
}
