<footer>
  <div class="top">
    <div class="left">
      <span class="title crosschange">
        {{'footer.crosschange' | translate}}
      </span>
      <app-language-switcher></app-language-switcher>
    </div>
    <div class="right">
      <div class="section">
        <span class="title">
          {{'footer.products' | translate}}
        </span>
        <ul>
          <li>
            <a [href]="environment.kuailianBankUrl">{{'footer.crosschange_bank' | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="section">
        <span class="title">
          {{'footer.3rd_party' | translate}}
        </span>
        <ul>
          <li>
            <a [href]="environment.kuailianPlatformUrl">{{'footer.kuailian_platform' | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="section">
        <span class="title">
          {{'footer.company' | translate}}
        </span>
        <ul>
          <li>
            <a href="">{{'footer.about' | translate}}</a>
          </li>
          <li>
            <a href="">{{'footer.contact' | translate}}</a>
          </li>
          <li>
            <a href="">{{'footer.commission' | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="section">
        <span class="title">
          {{'footer.connect' | translate}}
        </span>
        <ul>
          <li>
              <ul class="socials">
                <li>
                  <a href="">
                    <mat-icon svgIcon="icon_facebook"></mat-icon>
                  </a>
                </li>
                <li>
                  <a href="">
                    <mat-icon svgIcon="icon_instagram"></mat-icon>
                  </a>
                </li>
                <li>
                  <a href="">
                    <mat-icon svgIcon="icon_youtube"></mat-icon>
                  </a>
                </li>
                <li>
                  <a href="">
                    <mat-icon svgIcon="icon_linkedin"></mat-icon>
                  </a>
                </li>
              </ul>
          </li>
          <li>
            <span>bank@crosschange.exchange</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="right mobile">
      <div class="section mobile">
        <ul>
          <li>
            <a href="">{{'footer.terms' | translate}}</a>
          </li>
          <li>
            <a href="">{{'footer.privacy' | translate}}</a>
          </li>
          <li>
            <a href="">{{'footer.gdpr' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="left">
      <ul>
        <li>{{'footer.copyright' | translate}}</li>
        <li>{{'footer.member_of_alliance' | translate}}</li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li>
          <a href="">{{'footer.terms' | translate}}</a>
        </li>
        <li>
          <a href="">{{'footer.privacy' | translate}}</a>
        </li>
        <li>
          <a href="">{{'footer.gdpr' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
