@import "../../../../assets/styles/variables";

::ng-deep {
  .val-0 {
    mat-slider.buy .mat-slider-ticks {
      background: 0% url('../../../../assets/icons/icon_circle_green.svg') no-repeat,
      25% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      50% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      75% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      100% url('../../../../assets/icons/icon_circle.svg') no-repeat !important;
    }

    mat-slider.sell .mat-slider-ticks {
      background: 0% url('../../../../assets/icons/icon_circle_red.svg') no-repeat,
      25% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      50% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      75% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      100% url('../../../../assets/icons/icon_circle.svg') no-repeat !important;
    }
  }

  .val-25 {
    mat-slider.buy .mat-slider-ticks {
      background: 0% url('../../../../assets/icons/icon_circle_green.svg') no-repeat,
      25% url('../../../../assets/icons/icon_circle_green.svg') no-repeat,
      50% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      75% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      100% url('../../../../assets/icons/icon_circle.svg') no-repeat !important;
    }

    mat-slider.sell .mat-slider-ticks {
      background: 0% url('../../../../assets/icons/icon_circle_red.svg') no-repeat,
      25% url('../../../../assets/icons/icon_circle_red.svg') no-repeat,
      50% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      75% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      100% url('../../../../assets/icons/icon_circle.svg') no-repeat !important;
    }
  }

  .val-50 {
    mat-slider.buy .mat-slider-ticks {
      background: 0% url('../../../../assets/icons/icon_circle_green.svg') no-repeat,
      25% url('../../../../assets/icons/icon_circle_green.svg') no-repeat,
      50% url('../../../../assets/icons/icon_circle_green.svg') no-repeat,
      75% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      100% url('../../../../assets/icons/icon_circle.svg') no-repeat !important;
    }

    mat-slider.sell .mat-slider-ticks {
      background: 0% url('../../../../assets/icons/icon_circle_red.svg') no-repeat,
      25% url('../../../../assets/icons/icon_circle_red.svg') no-repeat,
      50% url('../../../../assets/icons/icon_circle_red.svg') no-repeat,
      75% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      100% url('../../../../assets/icons/icon_circle.svg') no-repeat !important;
    }
  }

  .val-75 {
    mat-slider.buy .mat-slider-ticks {
      background: 0% url('../../../../assets/icons/icon_circle_green.svg') no-repeat,
      25% url('../../../../assets/icons/icon_circle_green.svg') no-repeat,
      50% url('../../../../assets/icons/icon_circle_green.svg') no-repeat,
      75% url('../../../../assets/icons/icon_circle_green.svg') no-repeat,
      100% url('../../../../assets/icons/icon_circle.svg') no-repeat !important;
    }

    mat-slider.sell .mat-slider-ticks {
      background: 0% url('../../../../assets/icons/icon_circle_red.svg') no-repeat,
      25% url('../../../../assets/icons/icon_circle_red.svg') no-repeat,
      50% url('../../../../assets/icons/icon_circle_red.svg') no-repeat,
      75% url('../../../../assets/icons/icon_circle_red.svg') no-repeat,
      100% url('../../../../assets/icons/icon_circle.svg') no-repeat !important;
    }
  }

  .val-100 {
    mat-slider.buy .mat-slider-ticks {
      background: 0% url('../../../../assets/icons/icon_circle_green.svg') no-repeat,
      25% url('../../../../assets/icons/icon_circle_green.svg') no-repeat,
      50% url('../../../../assets/icons/icon_circle_green.svg') no-repeat,
      75% url('../../../../assets/icons/icon_circle_green.svg') no-repeat,
      100% url('../../../../assets/icons/icon_circle_green.svg') no-repeat !important;
    }

    mat-slider.sell .mat-slider-ticks {
      background: 0% url('../../../../assets/icons/icon_circle_red.svg') no-repeat,
      25% url('../../../../assets/icons/icon_circle_red.svg') no-repeat,
      50% url('../../../../assets/icons/icon_circle_red.svg') no-repeat,
      75% url('../../../../assets/icons/icon_circle_red.svg') no-repeat,
      100% url('../../../../assets/icons/icon_circle_red.svg') no-repeat !important;
    }
  }

  mat-slider {
    width: 100%;
    padding: 0 !important;

    &.buy {
      .mat-slider-thumb {
        border: 2px solid $color-trading-green;
      }

      .mat-slider-track-fill {
        background-color: $color-trading-green !important;
      }
    }

    &.sell {
      .mat-slider-thumb {
        border: 2px solid $color-trading-red;
      }

      .mat-slider-track-fill {
        background-color: $color-trading-red !important;
      }
    }

    .mat-slider-ticks-container {
      height: 10px !important;
      top: -4px !important;
      left: -1%;
      overflow: visible;
      width: 102% !important;
    }

    .mat-slider-ticks {
      position: relative;
      opacity: 1 !important;
      height: 10px !important;
      width: 100% !important;
      background: 0% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      25% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      50% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      75% url('../../../../assets/icons/icon_circle.svg') no-repeat,
      100% url('../../../../assets/icons/icon_circle.svg') no-repeat !important;
    }

    .mat-slider-track-background {
      background-color: $color-grey-20 !important;
    }

    .mat-slider-wrapper {
      left: 4px !important;
      right: 4px !important;
    }
    .mat-slider-wrapper::after {
      opacity: 0 !important;
    }

    .mat-slider-thumb {
      width: 12px;
      height: 12px;
      right: -6px;
      bottom: -6px;
      border-radius: 50%;
      background-color: $color-white-100 !important;
      transform: none !important;
    }

    .mat-slider-thumb-label {
      display: none !important;
      .mat-slider-thumb-label-text {
        font-size: 14px !important;
      }
    }
  }
}
