@import "../../../../assets/styles/variables";

::ng-deep mat-slider {
  width: 100%;
  padding: 0 !important;

  &.buy {
    .mat-slider-thumb {
      border: 2px solid $color-trading-green;
    }

    .mat-slider-track-fill {
      background-color: $color-trading-green !important;
    }
  }

  &.sell {
    .mat-slider-thumb {
      border: 2px solid $color-trading-red;
    }

    .mat-slider-track-fill {
      background-color: $color-trading-red !important;
    }
  }

  .mat-slider-ticks-container {
    height: 10px !important;
    left: -2px !important;
    top: -4px !important;
    overflow: visible;
  }

  .mat-slider-ticks {
    position: relative;
    opacity: 1 !important;
    height: 10px !important;
    width: 10px !important;
    border: 1px solid $color-white-100 !important;
    background-color: $color-grey-20 !important;
    background-image: none !important;
    border-radius: 50% !important;
    mask-repeat: repeat-y;
    //background-image: repeating-linear-gradient(to right, $color-grey-20, $color-grey-20 8px, transparent 0, transparent) !important;
    //background-size: 25% 8px !important;
  }

  .mat-slider-track-background {
    background-color: $color-grey-20 !important;
  }

  .mat-slider-wrapper {
    left: 4px !important;
    right: 4px !important;
  }
  .mat-slider-wrapper::after {
    opacity: 1 !important;
    height: 8px !important;
    width: 8px !important;
    background-color: $color-grey-20 !important;
    border-radius: 50% !important;
    border: 1px solid $color-white-100 !important;
    right: -4px !important;
    top: -4px !important;
  }

  .mat-slider-thumb {
    width: 12px;
    height: 12px;
    right: -6px;
    bottom: -6px;
    border-radius: 50%;
    background-color: $color-white-100 !important;
    transform: none !important;
  }

  .mat-slider-thumb-label {
    display: none !important;
  }
}
