<div class="qr-codes" *ngIf="currentWallet" [class.double]="!!currentWallet.destination_tag">
  <div class="qr-container">
    <div class="content-container">
      <span class="field-title">{{'qr_code.address_short' | translate: { crypto: currentWallet?.cryptocurrency | uppercase } }}</span>
      <div class="qr">
        <img [class.loading]="!(address$ | async)"
             [src]="(address$ | async) | safe: 'base64-svg'"
             alt="qr code">
      </div>
      <div class="field">
        {{currentWallet.address}}
      </div>
    </div>
    <button mat-stroked-button class="copy-address" (click)="$event.preventDefault()" ngxClipboard [cbContent]="currentWallet.address">
      <mat-icon svgIcon="icon_copy"></mat-icon>
      {{'qr_code.copy_address' | translate}}
    </button>
  </div>
  <div class="qr-container" *ngIf="currentWallet.destination_tag">
    <div class="content-container">
      <span class="field-title">
        {{ 'qr_code.tag_short' | translate : { crypto: currentWallet?.cryptocurrency | uppercase} }}
      </span>
      <div class="qr">
        <img [class.loading]="!(tag$ | async)"
             [src]="(tag$ | async) | safe: 'base64-svg'"
             alt="tag">
      </div>
      <div class="field">
        {{currentWallet.destination_tag}}
      </div>
    </div>
    <button mat-stroked-button class="copy-address" (click)="$event.preventDefault()" ngxClipboard [cbContent]="currentWallet.destination_tag">
      <mat-icon svgIcon="icon_copy"></mat-icon>
      {{'qr_code.copy_tag' | translate}}
    </button>
  </div>
</div>
