<div class="wave-container">

  <div class="wave-content">
    <h1>
      {{'main_page.welcome_1' | translate}}
      <br>
      {{'main_page.welcome_2' | translate}}
    </h1>
    <span>{{'main_page.easiest_way' | translate}}</span>
  </div>

  <div class="wave">
    <img src="assets/images/wave-v2-cropped.png" alt="Wave">
  </div>
  <div class="wave-grid">
    <img src="assets/images/wave-grid.png" alt="grid">
  </div>
</div>
<div class="charts-container">
  <div class="charts">
    <div class="table">
      <div class="table-row header">
        <div class="table-cell caption icon">{{'main_page.charts_table_coin' | translate}}</div>
        <div class="table-cell caption total">{{'main_page.charts_table_total' | translate}}</div>
        <div class="table-cell caption available">{{'main_page.charts_table_available' | translate}}</div>
        <div class="table-cell caption image">{{'main_page.charts_table_chart' | translate}}</div>
        <div class="table-cell caption button">{{'main_page.charts_table_trade' | translate}}</div>
      </div>
      <div class="table-row" *ngFor="let item of crypto; let last=last" [class.last]="last">
        <div class="table-cell">
         <div class="table-icon-container icon">
           <mat-icon [svgIcon]="item.icon"></mat-icon>
           <div class="title-container">
             <span class="title">{{item.title}}</span>
             <span class="subtitle">{{item.subtitle}}</span>
           </div>
         </div>

        </div>
        <div class="table-cell total">
          <span>{{item.total}}%</span>
        </div>
        <div class="table-cell available">
          <span>{{item.available}}</span>
        </div>
        <div class="table-cell image">
          <div>
            <img src="assets/images/dummy-chart.png" alt="">
          </div>
        </div>
        <div class="table-cell button">
          <button mat-stroked-button>{{'main_page.charts_table_buy' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="how-to">
      <div class="item" *ngFor="let item of [1,2,3]; let i=index">
        <img class="shield" src="assets/images/shield.png" alt="">
        <span class="title">{{'main_page.howto_title_' + (i + 1) | translate}}</span>
        <span class="text">{{'main_page.howto_text_' + (i + 1) | translate}}</span>
        <a href="">{{'main_page.howto_link_' + (i + 1) | translate}}</a>
      </div>
  </div>-->
  <div class="regulation">
    <div class="left">
      <span class="title">{{'main_page.regulation_title' | translate}}</span>
      <span class="subtitle">{{'main_page.regulation_subtitle' | translate}}</span>
      <div class="section">
        <div class="shield-container">
          <img src="assets/images/shield-grey.svg" alt="">
        </div>
        <div>
          <span class="title">{{'main_page.regulation_section_1_title' | translate}}</span>
          <span class="text">{{'main_page.regulation_section_1_text' | translate}}</span>
        </div>
      </div>
      <div class="section">
        <div class="shield-container">
          <img src="assets/images/shield-grey.svg" alt="">
        </div>
        <div>
          <span class="title">{{'main_page.regulation_section_2_title' | translate}}</span>
          <span class="text">{{'main_page.regulation_section_2_text' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="right">
      <img src="assets/images/homepage-regulation.png" alt="">
    </div>
  </div>

</div>
