<div class="menu-container">
  <div class="wave-grid">
    <img src="assets/images/wave-grid.png" alt="grid">
  </div>
  <div class="menu-items">
    <div class="top">
      <div class="item" *ngFor="let item of menuItems">

        <div class="link" routerLink="{{item.link}}" (click)="openPage(item)">
          <a>{{item.label | translate}}</a>
          <mat-icon class="icon arrow-down"
                    [class.rotate]="item.active"
                    svgIcon="icon_arrow_down"
                    *ngIf="item.subItems"
          ></mat-icon>
        </div>

        <div class="sub-menu" [class.open]="item.active" *ngIf="item.subItems">
          <div class="sub-link" (click)="openPage(subItem)" routerLink="{{subItem.link}}" *ngFor="let subItem of item.subItems">
            <mat-icon class="icon" svgIcon="{{subItem.icon}}"></mat-icon>
            <div>{{subItem.label | translate }}</div>
          </div>
        </div>

      </div>
    </div>
    <div class="bottom">
      <button mat-stroked-button routerLink="/trade">{{'menu_mobile.exchange_currency' | translate}}</button>
      <div class="link logout" (click)="logout()">{{'menu_mobile.logout' | translate}}</div>
    </div>
  </div>
</div>
