/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/reset';
@import "assets/styles/variables";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600&display=swap');

body * {
  font-family: 'IBM Plex Sans', sans-serif;
}

@font-face {
  font-family: 'SF UI Display Regular';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Light'), url('assets/fonts/SFUIDisplay-Regular.otf');
}

a {
  &:hover {
    text-decoration: none;
  }
}
