$media-laptop: 1440px;
$media-small-screen: 1280px;
$media-tablet: 1025px;
$media-small-tablet: 992px;
$media-mobile: 575px;


$color-grey-5: #FAFBFC;
$color-grey-10: #F2F4F8;
$color-grey-20: #DEE1E6;
$color-grey-30: #C2C7CC;
$color-grey-40: #A3A9AF;
$color-grey-80: #353A3E;
$color-grey-100: #131619;
$color-green-50: #64D790;
$color-green-100: #1DA24F;
$color-grey-60: #6A7076;

$color-brand: #1515F0;
$color-brand-dark: #111629;
$color-dark: #0A1726;

$color-light-yellow-10: #FFF5D0;
$color-yellow-100: #FDD34A;

$color-light-blue-10: #E5F3FF;

$color-white-5: rgba(255, 255, 255, 0.1);
$color-white-20: rgba(255, 255, 255, 0.2);
$color-white-60: rgba(255, 255, 255, 0.6);
$color-white-90: rgba(255, 255, 255, 0.9);
$color-white-100: #FFFFFF;

$color-aside-background: #1D2235;
$color-footer-background: #03050D;
$color-trading-dark: #111629;
$color-trading-green: #22CF63;

$color-crosspro-linear: linear-gradient(285.48deg, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0) 73.41%), linear-gradient(279.57deg, #1111C2 0%, #3131F0 100%), #060B1F;

$header-height: 72px;
$header-height-mobile: 86px;

$footer-height: 376px;
$footer-height-mobile: 650px;

$color-red-100: #DB1C27;
$color-trading-red-100: #DD4662;
