<div class="notifications-shell fx-row">

  <div class="notifications-sidebar">
    <div class="header">{{'notifications.title' | translate}}</div>
    <div class="category"
         *ngFor="let category of categories"
         [class.active]="currentType === category.value"
         [routerLink]="['/notifications']"
         [queryParams]="{type: category.value}"
    >
      {{category.label}}
    </div>
  </div>

  <div class="notifications-list">
    <div class="notification fx-row" *ngFor="let item of notifications$ | async">
      <div class="text-block">
        <div class="fx-row fx-v-align-center">
          <div class="active-label" [class.active]="item?.active"></div>
          <div class="header">{{item?.header}}</div>
        </div>
        <div class="message">{{item?.message}}</div>
      </div>
      <div class="time fx-row fx-v-align-center">{{item?.date | timeBefore | translate:{ minutes: 22, hours: 2, days: 3, monthes: 2, years: 0 } }}</div>
    </div>
  </div>

</div>
