<div class="trading-container">
  <app-trade-header></app-trade-header>

  <div class="trade-windows {{(themeSettingsService.themeOptions$ | async).name}}" cdkDropListGroup>

    <div class="fx-row">
      <div class="window-container left"
           cdkDropList
           [cdkDropListData]="leftContainer"
           (cdkDropListDropped)="drop($event)"
      >
        <div class="drag-item">
          <app-modal-window
            [draggableWindow]="false"
            [resizableWindow]="false"
            [headerText]="'trade_page.orderbook'">
            <div class="orderbook-table-container"></div>
            ORDERBOOK WORKS
          </app-modal-window>
        </div>
      </div>

      <div class="window-container center"
           cdkDropList
           [cdkDropListData]="centralContainer"
           (cdkDropListDropped)="drop($event)"
      >
        <div class="drag-item">
          <app-modal-window
            [draggableWindow]="false"
            [resizableWindow]="false"
            [headerText]="'trade_page.chart'">
            <div class="chart-container"></div>
            CHART WORKS
          </app-modal-window>
        </div>
        <div class="drag-item">
          <app-modal-window
            [draggableWindow]="false"
            [resizableWindow]="false"
            [headerText]="'trade_page.exchange'">
            <app-place-order></app-place-order>
          </app-modal-window>
        </div>
      </div>

      <div class="window-container right"
           cdkDropList
           [cdkDropListData]="rightContainer"
           (cdkDropListDropped)="drop($event)"
      >
        <div class="drag-item">
          <app-modal-window
            [draggableWindow]="false"
            [resizableWindow]="false"
            [headerText]="'trade_page.market_trades'">
            <div class="market-trades-container"></div>
            MARKET TRADES WORKS
          </app-modal-window>
        </div>
      </div>
    </div>

    <div class="window-container bottom">
      <div class="drag-item">
        <app-modal-window
          [draggableWindow]="false"
          [resizableWindow]="false"
          [headerText]="'trade_page.orders_and_history'"
        >
          <app-order-history-container></app-order-history-container>
        </app-modal-window>
      </div>
    </div>

  </div>

</div>
