@import "../../../../assets/styles/variables";

.trading-container {
  .trade-windows {
    background-color: $color-grey-20;

    .window-container {

      &:not(:last-child) {
        margin-right: 4px;
      }

      .drag-item {
        margin-top: 4px;

        &:last-child {

        }
      }

      &.left {
        width: 25%;
      }

      &.center {
        width: 50%;
      }

      &.right {
        width: 25%;
      }

      &.bottom {
        width: 100%;
      }
    }

    &.theme-dark {
      background-color: #000000;
    }
  }
}
