<div [matMenuTriggerFor]="languages" class="switcher" (menuOpened)="opened = true" (menuClosed)="opened = false">
  <div class="flex">
    <mat-icon class="flag" svgIcon="icon_flag_en"></mat-icon>
    <span class="language">{{'languages.' + currentLang | translate }}</span>
  </div>
  <mat-icon>{{opened ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
</div>
<mat-menu #languages xPosition="before" yPosition="above">
  <span mat-menu-item *ngFor="let lang of supportedLanguages" (click)="language = lang" class="menu-item">
    {{'languages.' + lang | translate }}
  </span>
</mat-menu>
